<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="MAMASTOCK" Language="1033" Version="0.1.0" Manufacturer="MAMASTOCK" UpgradeCode="{UPGRADE_CODE_GUID}">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perUser" />
    <MediaTemplate />
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- Per-user install -->
    <Property Id="ALLUSERS" Value="2" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

    <!-- Use our custom UI that imports WixUI_Common -->
    <UIRef Id="WixUI_CustomWelcomeExit_MAMA" />

    <!-- Layout under %LOCALAPPDATA%\MAMASTOCK -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLDIR" Name="MAMASTOCK">
          <Component Id="MainExecutable" Guid="*">
            <File Id="AppExe" Name="APP_EXE_NAME" Source="APP_EXE_ABS_PATH" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="MAMASTOCK" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>
  </Product>
</Wix>
