@import "./globals.css";

:root {
  --background: 255 255% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --border: 214.3 31.8% 91.4%;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 210 40% 98%;
  --accent: 215 27.9% 16.9%;
  --accent-foreground: 210 40% 98%;
  --border: 215 27.9% 16.9%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
